body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(27, 102, 102) !important;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;

}

#startGame {
    position: absolute;
    top: 50px;


    width: 40%;

}

/* .card-img-top {
    width: 50% !important;
    height: 7.9em;
} */

.buttonsDiv {
    display: flex;
    flex-direction: row !important;
}

.category span {
    margin: 25px;
    font-size: 1.9em;
    color: white;
}

#pragrammingButton {
    margin: 20px;
    background-color: tomato;
}

#germanJokesButton {
    margin: 20px;
    background-color: tomato;
}

.bigContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px !important;

}

.questionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionFooter button {
    width: 130px;

}

.cardHoverEffect :hover {
    cursor: pointer;
    background-color: tomato;
    color: chartreuse;
}

.cardWhole {
    width: 60%;

}

.bg-success {
    color: white;
}

.bg-danger {
    color: white;
}

.text-center {
    text-align: center;
    font-size: 1.5em;
    margin: 25px;
}



.endgameScreen img {
    width: 100%;

}

.results {
    font-size: 1.4em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.progress {
    margin-top: 20px;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.displayTransparent {
    position: relative;
}

.d-none {
    display: none;
}

.z-index {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 99999999;
}

@media(max-width: 1200px) {
    body {
        height: 100vh;
    }

    .category {
        display: flex;
        flex-direction: column;
    }

    .responsiveWidth {
        width: 80% !important;
    }
}

.navbar {
    display: none;
}